# DAT 19: Homework 1 Assignment

## Instructions

In this assignment, we will explore the passenger list of the Titanic, as provided in a well-known [Kaggle](https://www.kaggle.com) competition. For this assignment, we are concerned only with initial exploration. Please answer the specific questions listed below.

The dataset is a list of passengers. The second column of the dataset is the label for each person indicating whether that person survived (1) or did not survive (0). The data is described in more detail below.

There is no need to download the data from Kaggle. We have provided the titanic.csv dataset for you in the same  directory as this assignment.

Please do all your analysis to answer the questions below in this Jupyter notebook. Show your work. Questions 10, 13, and 14 ask for your thoughts as a few sentences (regular prose, not code :-).

**Please submit your completed notebook by 11:59PM on Thursday, December 17.**

## About the Data

```
VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

SPECIAL NOTES:
Pclass is a proxy for socio-economic status (SES)
 1st ~ Upper; 2nd ~ Middle; 3rd ~ Lower

Age is in Years; Fractional if Age less than One (1)
 If the Age is Estimated, it is in the form xx.5

With respect to the family relation variables (i.e. sibsp and parch)
some relations were ignored.  The following are the definitions used
for sibsp and parch.

Sibling:  Brother, Sister, Stepbrother, or Stepsister of Passenger Aboard Titanic
Spouse:   Husband or Wife of Passenger Aboard Titanic (Mistresses and Fiances Ignored)
Parent:   Mother or Father of Passenger Aboard Titanic
Child:    Son, Daughter, Stepson, or Stepdaughter of Passenger Aboard Titanic

Other family relatives excluded from this study include cousins,
nephews/nieces, aunts/uncles, and in-laws.  Some children travelled
only with a nanny, therefore parch=0 for them.  As well, some
travelled with very close friends or neighbors in a village, however,
the definitions do not support such relations.
```

### Load Data

Start by loading the Titanic data into a numpy array. The code to do this is included below to get you started.

In [22]:
# We'll use the csv module from the Python standard library to read each row of our input data file
#   into a list that we then convert into a numpy array.

import csv as csv
import numpy as np

file_object = csv.reader(open('titanic.csv', 'rb'))
header = file_object.next() #First, let's strip off the header

data = []
for row in file_object:
    data.append(row)

data = np.array(data) #Turn our Python list into a numpy array

# Let's see what our data looks like. Notice what type the data appears to be inside the numpy array.
print type(data)
print data.shape

print data[:10,:]
print '\n' + '...'
print data[-1,:]

<type 'numpy.ndarray'>
(891, 12)
[['1' '0' '3' 'Braund, Mr. Owen Harris' 'male' '22' '1' '0' 'A/5 21171'
  '7.25' '' 'S']
 ['2' '1' '1' 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
  'female' '38' '1' '0' 'PC 17599' '71.2833' 'C85' 'C']
 ['3' '1' '3' 'Heikkinen, Miss. Laina' 'female' '26' '0' '0'
  'STON/O2. 3101282' '7.925' '' 'S']
 ['4' '1' '1' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)' 'female' '35'
  '1' '0' '113803' '53.1' 'C123' 'S']
 ['5' '0' '3' 'Allen, Mr. William Henry' 'male' '35' '0' '0' '373450'
  '8.05' '' 'S']
 ['6' '0' '3' 'Moran, Mr. James' 'male' '' '0' '0' '330877' '8.4583' '' 'Q']
 ['7' '0' '1' 'McCarthy, Mr. Timothy J' 'male' '54' '0' '0' '17463'
  '51.8625' 'E46' 'S']
 ['8' '0' '3' 'Palsson, Master. Gosta Leonard' 'male' '2' '3' '1' '349909'
  '21.075' '' 'S']
 ['9' '1' '3' 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)' 'female'
  '27' '0' '2' '347742' '11.1333' '' 'S']
 ['10' '1' '2' 'Nasser, Mrs. Nicholas (Adele Achem)' 'female' '14' '1' '0'
  '237736' '30.0708' '' 'C']]

...
['891' '0' '3' 'Dooley, Mr. Patrick' 'male' '32' '0' '0' '370376' '7.75' ''
 'Q']

## Homework Questions

**1) How many passengers are in our passenger list? For this assignment, weâ€™ll assume our dataset represents the full passenger list for the Titanic.**

In [23]:
# Your code here for num_passengers. Uncomment the line below to format your answer.

num_passengers = len(data)


print 'There are ' + str(num_passengers) + ' passengers in our list.'

There are 891 passengers in our list.

**2) What is the overall survival rate (as a percentage of total passengers in our list)?**

In [24]:
#HINT: You may want to import another module here
from __future__ import division

survival_condition = data[:,1] == "1"
num_survived = len(data[survival_condition])
survival_rate = num_survived/num_passengers


#Your code here to calculate num_survived and survival_rate. 
#Again, we've provided some code you can use to format your answer.


print 'Of ' + str(num_passengers) + ' passengers, ' + str(num_survived) + ' survived.'
print 'The survival rate is ' + str(survival_rate) + ' or '+ str("{0:.0f}%".format(survival_rate * 100))

Of 891 passengers, 342 survived.
The survival rate is 0.383838383838 or 38%

**3) How many male passengers were onboard?**

In [25]:
# Your code here to calculate num_males
male_condition = data[:,4] == "male"
num_males = len(data[male_condition])

print 'There were ' + str(num_males) + ' male passengers onboard.'

There were 577 male passengers onboard.

**4) How many female passengers were onboard?**

In [78]:
# Your code here to calculate num_females
female_condition = data[:,4] == "female"
num_females = len(data[female_condition])

print 'There were ' + str(num_females) + ' female passengers onboard.'

There were 314 female passengers onboard.

**5) What is the overall survival rate of male passengers?**

In [27]:
# Your code here to calculate male_survival_rate
male_survived = len(data[(data[:,4] == "male") & (data[:,1] == "1")])
male_survival_rate = male_survived/num_passengers


print 'The survival rate of male passengers was ' + str("{0:.2f}%".format(male_survival_rate * 100))

The survival rate of male passengers was 12.23%

**6) What is the overall survival rate of female passengers?**

In [28]:
# Your code here to calculate female_survival_rate
female_survived = len(data[(data[:,4] == "female") & (data[:,1] == "1")])
female_survival_rate = female_survived/num_passengers

print 'The survival rate of female passengers was ' + str("{0:.2f}%".format(female_survival_rate * 100))

The survival rate of female passengers was 26.15%

**7) What is the average age of all passengers onboard?**

In [93]:
# Your code here to calculate avg_age
# HINT: This may be trickier than it first seems. Look at the age values in the raw data file.
age_array = data[:,5]
age_condition = age_array != ""
known_age = data[:,5][age_condition]
known_age = np.array(known_age).astype(np.float)
avg_age = np.mean(known_age)

print 'The average age of all passengers onboard was ' + str("{0:.2f}".format(avg_age))

The average age of all passengers onboard was 29.70

**8) What is the average age of passengers who survived?**

In [100]:
# Your code here to calculate avg_age_survived
age_survived = np.array(age_array[age_condition & survival_condition]).astype(np.float)
avg_age_survived = np.mean(age_survived)


print 'The average of age of passengers who survived was ' + str("{0:.2f}".format(avg_age_survived))

The average of age of passengers who survived was 28.34

**9) What is the average age of passengers who did not survive?**

In [121]:
# Your code here to calculate avg_age_not_survive

age_not_survive = np.array(age_array[(age_condition) & (survival_condition == False)]).astype(np.float)
avg_age_not_survive = np.mean(age_not_survive)


print 'The average of age of passengers who did not survive was ' + str("{0:.2f}".format(avg_age_not_survive))

The average of age of passengers who did not survive was 30.63

**10) At this (early) point in our analysis, what might you infer about any patterns you are seeing in who survived / did not survive?**

_Your answer here as markdown_

### Patterns
1. survival rate reduces as age increases
2. females tend to survive more than men

**11) How many passengers are in each of the three classes of service (e.g. First, Second, Third?)**

In [144]:
# Your code here

np.unique(data[:,2],return_counts=True)

# You do not need to format the output nicely like we did for the questions above.

(array(['1', '2', '3'],
       dtype='|S82'), array([216, 184, 491]))

**12) What is the survival rate for passengers in each of the three classes of service?**

In [155]:
# Your code here
# HINT: Averaging of the 1's and 0's in the "Survived" column will give a survival rate.
# We want the survival rate for each passenger class.
# You do not need to format the output nicely.


pclass_array = data[:,2]
survival_array = data[:,1]
pclass1_survival_array, pclass2_survival_array, pclass3_survival_array = [survival_array[pclass_array == '1'],survival_array[pclass_array == '2'],survival_array[pclass_array == '3']]
pclass_survival_rates = [pclass1_survival_array.astype(np.float).sum()/len(pclass1_survival_array),pclass1_survival_array.astype(np.float).sum()/len(pclass2_survival_array),pclass1_survival_array.astype(np.float).sum()/len(pclass3_survival_array)]
pclass_survival_rates

[0.62962962962962965, 0.73913043478260865, 0.27698574338085541]

**13) How does what we learned in 11) and 12) influence our early conclusions from 10) ?**

_Your answer here as markdown_

**14) If we were to build a predictive model, which features in the data do you think we should include in the model and which can we leave out? Why?**

_Your answer here as markdown_

Drop the following:
Name
ticket number
fare (because it is highly correlated to class)